<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/headerBaseJS.js') }}"></script>

        {% if title %}
        <title>{{ title }} - TLSShop</title>
        {% else %}
        <title>TLSShop</title>
        {% endif %}

    </head>
    <body>

        <nav class="navbar bd-navbar">
            <img href="/" class="bd-logo" src="{{ url_for('static', filename='images/logo.png') }}">
            <div class="dropdown">
                <img onclick="dropdownMenu()" class="dropdownButton bd-logo " src="{{ url_for('static', filename='images/dropdownpic.png') }}">
                <div id="dropdownMenu" class="dropdown-content">

                    <a href="#">Profil</a>
                    <a href="#">Nachrichten</a>
                    <a href="#">Watchlist</a>
                    <a href="#">Historie</a>
                    <a href="#">Einstellungen</a>
                    <a href="#">Ausloggen</a>

                </div>
            </div>
        </nav>

        {% block content %} {% endblock %}

    </body>

</html>